[Desktop Entry]
Version=1.0
Type=Application
Name=ConnWifiMaster CLI
Comment=ConnWifiMaster CLI - ConnMan for network management.
Exec=terminology -e /usr/local/bin/connmaster-cli
Icon=connmaster-cli
Terminal=false
Categories=Utility;Network;
